---
import BaseLayout from '../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'
const posts = (await getCollection('posts'))
  .filter((p) => !p.data.draft)
  .sort(
    (a, b) =>
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
  )
---

<BaseLayout>
  <h1>Blog Like a Local</h1>
  <p>Interesting takes on pronunciation, culture, and language preservation.</p>
  <section class="grid">
    {
      posts.map((p) => (
        <a class="card" href={`/blog/${p.slug}/`}>
          <h2>{p.data.title}</h2>
          {p.data.description && <p>{p.data.description}</p>}
          {p.data.tags && <p class="tag">{p.data.tags.join(' · ')}</p>}
        </a>
      ))
    }
  </section>
</BaseLayout>
